.hidden {
  display: none;
}

body {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5864fcb8197aea2b44ef8a3b/1483575742947-49M03GGBO6S9V5HE48VZ/blurred-background-vintage-filter-coffee-shop-blur-background-with-bokeh_HwSnElOhMe.jpg?format=2500w");
  size: 100%;
  background-repeat: no-repeat;
  color: aliceblue;
}

.smallPizza{
 height: 200px;
 width: 200px;
}

.mediumPizza{
  height: 275px;
  width: 275px;
 }

 .largePizza{
  height: 350px;
  width: 350px;
 }

 .columns{
  float:none; margin:auto;
 }