.hidden {
  display: none;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("https://images.squarespace-cdn.com/content/v1/5864fcb8197aea2b44ef8a3b/1483575742947-49M03GGBO6S9V5HE48VZ/blurred-background-vintage-filter-coffee-shop-blur-background-with-bokeh_HwSnElOhMe.jpg?format=2500w");
  size: 100%;
  background-repeat: no-repeat;
  color: aliceblue;
}

h1{
  text-align: center;
  margin: auto;
  margin-top: 5%;
  font-size: 75px;
}

h2{
  text-align: center;
  margin: auto;
  margin-top: 15%;
  font-size: 35px;
}

.smallPizza{
 height: 200px;
 width: 200px;
}

.mediumPizza{
  height: 275px;
  width: 275px;
 }

 .largePizza{
  height: 350px;
  width: 350px;
 }

 .columns{
  float:none; 
  margin:auto;
  text-align: center;
  font-size: 50px;
}

.columns2{
  float:none; 
  margin:auto;
  margin-top: 4%;
  text-align: center;
  font-size: 20px;
}

.toppingsTitle{
  margin-bottom: 10%;
}

.submit-button{
  float:none; 
  margin:auto;
  margin-top: 10%;
  text-align: center;
}

.total-price{
  float:none; 
  margin:auto;
  margin-top: 10%;
  text-align: center;
}



